body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: #feefe5;
  background-color: #253237;
}

.board-container {
  height: 500px;
  width: 500px;
  margin: 100px;
  padding: 25px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #fae8eb;
  border-radius: 10px;
  border: 8px ridge #fae8eb;
}

.box {
  border: 2px ridge #06bee1;
  font-size: 50px;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  transition: opacity 0.25s, background-color 0.25s;
}

.box:hover {
  opacity: 75%;
}

@keyframes error {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle-box {
  animation-name: error;
  animation-duration: 0.35s;
}

.one-box {
  background-color: #5aff15;
}

.two-box {
  background-color: #9d75cb;
}
